body {
  background-color: lightblue;
}
h1 {
  text-align: center;
  color: navy;
  margin-left: 20px;
}

h2 {
  color: navy;
  text-align: left;
}

h3 {
  color: dimgray;
  text-align: left;
}
